<header>
  <div class="about">
    <h2>THE CREATIVE MUSINGS OF</h2>
    <h1>Punya</h1>

    <p>
      I'm a UI / UX Designer with a passion for code and copy-editing.
    </p>

    <p class="links">
      <b>Give me a buzz:</b>
      <a href="http://twitter.com/pnyvsh">Twitter</a>,
      <a href="http://t.me/pnyvsh">Telegram</a>,
      <a href="http://github.com/pnyvsh">Github</a>,
      <a href="mailto:pnyvsh@gmail.com" target="_blank">Email</a>.
    </p>

  <!--<p>
      <b>Send some love:</b><br>
      <a href="https://www.buymeacoffee.com/tholman" target="_blank">Buy me a Coffee</a>
    </p>-->

    {% if include.filters %}
      <p class="filters">
        <b>Some filters:</b><br>
        <label for="serious-checkbox"> Serious Stuff </label>
        <input id="serious-checkbox" type="checkbox" checked data-type="serious"><br>
        
        <label for="joke-checkbox"> Jokey Stuff </label>
        <input id="joke-checkbox" type="checkbox" checked data-type="joke"><br>

        <label for="audio-checkbox"> Talks & Podcasts </label>
        <input id="audio-checkbox" type="checkbox" checked data-type="audio">
      </p>
    {% else %}
      <p>
        <b>Or you can:</b><br>
        Check out my <a href="/">latest</a>.
      </p>
    {% endif %}
  </div>
</header>